.inventory {
  padding: 10px;
  background-color: hsl(39, 77%, 87%);
  width: 100%;
}
input[type="text"]{
  margin-bottom: 7px;
  padding: 5px 10px 5px 20px;
  width: 30%;
  border-radius: 50px;
  font-size: 1.3em;
  border: 3px solid black;
  margin-right: 15px;
}
input:focus{
  background-color: hsl(0, 0%, 93%);
  text-shadow: 0 0 5px whitesmoke;
  outline-color: #0a9a9a;
}

.inventory .container {
  padding: 10px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.2em;
  background-color: #e3f6f6;
  overflow: scroll;
  column-gap: 10px;
}
.item {
  display: flex;
  align-items: center;
  background-color: #7affff;
  cursor: pointer;
}
.item:hover {
  background-color: #2cdfdf;
}
.item:active {
  background-color: #0a9a9a;
}
.add-btn{
  background-color: #30ca02;
  border: none;
  height: 40px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 1.8em;
  font-weight: bold;
  text-shadow: 0 0 3px black;
}
.add-btn:hover{
  background-color: #259702;
}

.search-error{
 font-size: 0.7em;  
 color: red;
 font-weight: bold;
 white-space: wrap;
 overflow: hidden;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.selected-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgb(9, 194, 132);
  color: white;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}
.clear-button {
  background-color: hsl(0, 100%, 60%);
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.clear-button:hover{
  background-color: hsl(0, 100%, 40%);
}