.container{
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
  background-color: rgb(180, 138, 248);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px;
  background-color: #fff;
}
nav ul{
  padding: 0;
  display: flex;
  gap: 20px;
  text-wrap: nowrap;
  font-size: 1.1em;
  list-style: none;
  min-width: fit-content;
  width: 50%;
}
nav ul li{
  cursor: pointer;
  color: black;
}
nav ul li hr{
  margin-top: 1px;
}

.logo{
  padding: 3px 5px;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}
.active{
  color: red;
  font-weight: bold;
  position: relative;
}

.box{
  background-color: lightgray;
  height: 438px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.box button{
  padding: 5px 10px;
  font-size: 1.3em;
  font-weight: bold;
  background-color: hsl(16, 100%, 55%);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 8px black;
  transition: all 0.3s;
}
.box button:hover{
  box-shadow: 0 0 5px black;
  background-color: hsl(16, 100%, 50%);
  
}
.intro{
  text-align: center;
  width: 66%;
}

footer{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  transition: all 0.5s;
  min-height: 151px;
  height: fit-content;
  gap: 20px 10px;
  flex-wrap: wrap;
}
footer b{
  font-size: 1.5em;
  text-wrap: nowrap;
}
footer div span{
  font-weight: bold;
}
footer .segment{
  width: 250px;
  padding: 5px 10px;
  flex-wrap: nowrap;
}
.footer-description{
  margin-top: 5px;
}

.magnifying-glass{
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 720px){
  .magnifying-glass{
    display: block;
  }
  .search input{
    display: none;
  }
  nav ul{
    gap: 8px;
  }
}