.star-rating{
  background-color: #6b6666;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-rating .active{
  color: #fff700;
}
.inactive{
  color: lightgray;
}